.Home {
  background: rgb(176,161,147);
  background: linear-gradient(0deg, rgba(176,161,147,1) 0%, rgba(229,213,199,1) 100%);
}

@media (min-width: 900px) {
  .Home {
    width: 100%;
  }
  .carousel {
    max-height: 800px;
    height: auto;
    width: 100%;
    overflow: hidden;
  }

  .carousel-item {
    background-color: black;
  }

  .carousel-item img {
    opacity: 0.35;
  }

  .carousel-caption {
    bottom: 55% !important;
  }

  .carousel-caption h1 {
    font-size: 4vw;
  }

  .carousel-caption p {
    font-size: 2vw;
  }

  .why-text,
  .sdg-container {
    height: 45vh;
    padding-top: 20px;
    color: rgba(134,69,67,255) ;
  }

  .why-text h1 {
    padding-top: 20px;
    padding-left: 140px;
    height: auto;
    width: 100%;
    font-size: 2vw;
  }

  .why-text p {
    margin: 50px 55vw 0 15vh;
    font-size: 1vw;
    height: 100%;
    width: auto;
  }

  .why-text img {
    position: relative;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    height: auto;
    left: 60vw;
    bottom: 60vh;
  }

  .supply-container,
  .edu-container,
  .spo-container,
  .don-container {
    height: 50vh;
    width: 100%;
  }

  .supply-container {
    background-image: url("../../images/students2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 20%;
    background-color: rgba(0, 0, 0, 0.699);
    background-blend-mode: hue;
  }

  .supply-container p {
    color: rgba(230, 211, 196, 255);
    font-size: 4vh;
    text-align: center;
    padding-right: 40vw;
    margin-left: 4.5vw;
    padding-top: 14vh;
  }

  .supply-container .btn {
    position: relative;
    bottom: 15vh;
    left: 75vw;
    font-size: 4vh;
  }

  .edu-container {
    background-image: url("../../images/teachers2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 20%;
    background-color: rgba(138, 138, 138, 0.699);
    background-blend-mode: hue;
  }

  .edu-container p {
    color: rgba(134, 69, 67, 255);
    font-size: 4vh;
    text-align: center;
    padding-left: 40vw;
    margin-right: 4.5vw;
    padding-top: 140px;
  }

  .edu-container .btn {
    position: relative;
    bottom: 15vh;
    left: 15vw;
    font-size: 4vh;
  }

  .spo-container {
    padding-top: 20px;
    text-align: center;
    color: rgba(134, 69, 67, 255);
  }

  .spo-container img {
    margin-top: 60px;
    margin-inline: 40px;
    opacity: 75%;
  }

  .spo-container img:hover {
    opacity: 1;
  }

  .sdg-container img {
    position: absolute;
    top: 830px;
    left: 150px;
    border-radius: 8px;
    width: 25vw;
    height: auto;
  }

  .sdg-container h1 {
    padding-top: 30px;
    padding-left: 50vw;
    font-size: 2vw;
  }

  .sdg-container p {
    margin: 50px 10vw 0 60vw;
    font-size: 1vw;
  }
}

/* Phone CSS*/

@media (max-width: 425px) {
  body {
    position: absolute;
    width: 425px;
  }

  .navbar {
    width: 425px;
  }

  .carousel {
    padding-top: 30px;
    max-height: 300px;
    overflow: hidden;
  }

  .carousel-item {
    background-color: black;
  }

  .carousel-item img {
    opacity: 0.35;
  }

  .carousel-caption {
    top: 40px;
  }

  .carousel-caption h1 {
    font-size: 20px;
  }

  .carousel-caption p {
    font-size: 15px;
  }

  .carousel-caption .btn {
    font-size: 15px;
  }

  .why-text,
  .sdg-container {
    height: 650px;
    color: rgba(134,69,67,255) ;
  }

  .why-text h1 {
    padding-top: 20px;
    padding-left: 140px;
    border-bottom: 2px black;
  }

  .why-text p {
    margin-top: 20px;
    padding-inline: 30px;
    font-size: 19px;
  }

  .why-text img {
    position: absolute;
    left: 10px;
    border-radius: 8px;
    height: 200px;
    width: 400px;
  }

  .supply-container,
  .edu-container,
  .spo-container,
  .don-container {
    height: 500px;
    width: 100%;
  }

  .supply-container {
    background-image: url("../../images/students2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 20%;
    background-color: rgba(0, 0, 0, 0.699);
    background-blend-mode: hue;
  }

  .supply-container p {
    padding-top: 60px;
    color: rgba(230, 211, 196, 255);
    font-size: 30px;
    text-align: center;
  }

  .supply-container .btn {
    position: absolute;
    left: 37%;
    margin-top: 20px;
    font-size: 25px;
  }

  .edu-container {
    background-image: url("../../images/teachers2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 20%;
    background-color: rgba(138, 138, 138, 0.699);
    background-blend-mode: hue;
  }

  .edu-container p {
    padding-top: 60px;
    color: rgba(134, 69, 67, 255);
    font-size: 30px;
    text-align: center;
  }

  .edu-container .btn {
    position: absolute;
    left: 37%;
    margin-top: 20px;
    font-size: 25px;
  }

  .spo-container {
    padding-top: 20px;
    text-align: center;
    height: 1200px;
    color: rgba(134, 69, 67, 255);
  }

  .spo-container img {
    margin-top: 60px;
    margin-inline: 40px;
    opacity: 1;
  }

  .sdg-container img {
    position: absolute;
    top: 830px;
    left: 130px;
    width: 150px;
  }

  .sdg-container h1 {
    padding-top: 30px;
    padding-left: 80px;
  }

  .sdg-container p {
    margin-top: 20px;
    padding-inline: 30px;
    font-size: 19px;
  }
}
