.Join {
    background: rgb(176,161,147);
    background: linear-gradient(0deg, rgba(176,161,147,1) 0%, rgba(229,213,199,1) 100%);
}

@media (min-width:1024px){

.join-container h1{
    position: absolute;
    width: 500px;
    font-size: 50px;
    top: 21%;
    left: 100px;
    color: white ;
}

.join-container p{
    position: absolute;
    font-size: 20px;
    width: 500px;
    top: 28%;
    left: 100px;
    color: white;
}

.form-container {
    position: absolute;
    color: rgba(134,69,67,255);
    top: 15%;
    left: 52%;
    background-color: rgba(230,211,196,0.59);
    border-radius: 5px;
    padding: 20px;
}

.Join .bg {
    max-width: 100%;
    opacity: 0.65;
}

.form-container h3::after{
    content: '';
    height: 3px;
    width: 30px;
    background: rgba(134,69,67,255);
    position: absolute;
    top: 9%;
left: 3%;
    
}

.form-container .form-control {
    box-shadow: 1px 1px ;
}



.Join.row{
    margin: 10px auto;
}

.form-container button {
    margin: 1em auto 2em;
    padding-inline: 300px;
}

.form-container .form-label {
    font-weight: 600;
}
}

/* Phone CSS*/

@media (max-width:425px){

    .join-container, .form-container {
        width: 100%;
    }

    .join-container{
        text-align: center;
    }

    .join-container h1{
        position: absolute;
        top: 8%;
        left: 40%;
        
        font-size: 20px;
        color: rgb(143, 169, 255);
    }
    
    .join-container p{
        position: absolute;
        top: 12%;
        font-size: 15px;
        padding-inline: 20px;
        color: white;
    }
    
    .form-container {
        position: relative;
        padding: 10px 10px 0 10px;
        height: 600px;
        color: black;
        background-color: white;
        max-width: 425px;
    }
    
    .Join .bg {
        max-width: 100%;
        opacity: 0.65;
    }
    
    
    .form-container .form-control {
        box-shadow: 1px 1px ;
    }
    
    .form-container button {
        margin: 1em auto 2em;
        padding-inline: 165px;
    }
    
}