.main-footer {
    color: white;
    background-color: rgb(59, 59, 59);
    position: relative;
    bottom: 0%;
    width: 100%;
}

.main-footer .row {
  justify-content: center;
}

.main-footer .row .col {
  padding-top: 20px;
  max-width: 425px;
}

.footer-container li {
    display: inline;
    margin: 10px;
    font-family: 'Montserrat';
    
}

.footer-container li:hover {
  color: rgba(134, 69, 67, 255);
}

.main-footer i {
  text-align: center;

}
  

.main-footer p {
text-align: center;
}


@media (max-width:425px) {
  .main-footer .row {
    justify-content: center;
    width: 425px;
  }
}
