.main-footer {
    color: white;
    background-color: rgb(59, 59, 59);
    position: relative;
    bottom: 0;
    width: 100%;
}

.main-footer .row {
  justify-content: center;
}

.main-footer .row .col {
  padding-top: 20px;
  max-width: 400px;
}

.footer-container li {
    display: inline;
    margin: 10px;
    font-family: 'Montserrat';
    
}

.footer-container li:hover {
  color: rgb(0, 110, 255);
}

.main-footer i {
  text-align: center;

}
  

.main-footer p {
text-align: center;
}
