.Admin{
    height: 970px;
}

.login-container {
    display: grid;
    place-items: center;
    height: 100%;
}

.volunteer-container{
    display: flex;
    align-items: center;
}

.volunteer-container .table-responsive {
    max-width: 750px;
    max-height: 600px;
}

.volunteer-container .table-responsive th {
    min-width: 100px;
}



.volunteer-container .table-responsive .thaddress {
    min-width: 450px;
}




.approved-table {
    position: absolute;
    top: 20%;
    left: 56%;
}

.pending-table {
    position: absolute;
    top: 20%;
    left: 4%;
}
