.Admin{
    height: 970px;
    background-color: rgb(240, 240, 240);
}

.login-container {
    display: grid;
    place-items: center;
    height: 100%;
}


.volunteer-container .table-responsive {
    max-width: 750px;
    max-height: 600px;
}

.volunteer-container .table-responsive th {
    min-width: 100px;
}



.volunteer-container .table-responsive .thaddress {
    min-width: 450px;
}

.approved-table {
    position: absolute;
    top: 20%;
    left: 56%;
    text-align: center;
}

.pending-table {
    position: absolute;
    top: 20%;
    left: 4%;
    text-align: center;
}

.pending-table .btn {
    margin: 10px auto;
    margin-left: 20px;
}


.approved-table .btn {
    margin: 10px auto;
    margin-left: 20px;
}

.total {
    border-radius: 25px;
    width: 300px;
    height: 150px;
    text-align: center;
    font-size: 40px;
    background-color: white;
}

.total:hover {
    color: white;
   background: #1095c1;
transition: .4s;
}


.donation {
    position: absolute;
    top: 18%;
    left: 10%;
}

.pending-volunteers {
    position: absolute;
    top: 18%;
    left: 30%;
}

.approved-volunteers {
    position: absolute;
    top: 18%;
    left: 50%;
}

.piechart {
    position: absolute;
    top: 45%;
}

.barchart {
    position: absolute;
    top: 36%;
    left: 35%;
}

.newAdmin {
    position: absolute;
    top: 18%;
    left: 75%;
    width: 400px;
}

.adminList {
    padding-top: 50px;
}

.logout {
 position: absolute;
 top: 12%;
 left: 4%;
}

